@tailwind base;
@tailwind components;
@tailwind utilities;

/* 引入 JetBrains Mono 字体 */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap');

:root {
  color-scheme: dark;
}

body {
  @apply bg-game-bg text-game-text-main font-mono;
  /* 禁止选中文字，防止点击地图时变成蓝色选中状态 */
  user-select: none;
  -webkit-user-select: none;
  /* 隐藏滚动条 */
  overflow: hidden; 
}